{% include 'header.html' %}
<style>
    h1{text-align: center;
     font-family: 'Indie Flower', cursive;}
    .scroll img{margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 150px;
        display:block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    .scroll li{
        margin: 15px;
        display: inline;
        float: left;
    }
    .scroll ul{
        margin-right: -999em;
        float: left;
        list-style: none;
        white-space: nowrap;
    }
    .scroll{
        width: 800px;
        height: 250px;
        margin: 20px ;
        overflow-x: scroll;
        overflow-y: hidden;
        background-color: white;
    }

</style>
<div class="col-12 col-m-12 container-other">
     <h1>Our Team</h1>
    <div class="scroll">
        <ul>
            <li>
                <img src="../static/img/IMG_20160512_232726.jpg" alt="Aniket Prkash">

            </li>
            <li>
                <img src="../static/img/FB_IMG_1472493560572.jpg">

            </li>
            <li>
               <img src="../static/img/IMG_20160512_232726.jpg">

            </li>
            <li>
                 <img src="../static/img/FB_IMG_1472493560572.jpg">

            </li>
            <li>
                <img src="../static/img/IMG_20160512_232726.jpg">
            </li>
            <li>
                 <img src="../static/img/FB_IMG_1472493560572.jpg">
            </li>
        </ul>
    </div>
    </div>