{% include 'header.html' %}
<style>
 h1{text-align: center;
     font-family: 'Indie Flower', cursive;}
 .col-10{background-color: white;
     display: inline-block;
     height: 230px;
     overflow-x:auto;
     overflow-y: hidden;
     white-space: nowrap;
     margin-left:80px;
     margin-right: 600px}
 .img{margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 150px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
 .desc{padding: 10px;
       text-align: center;
       font-family: 'Indie Flower', cursive}
</style>
 <div class="col-12 col-m-12 container-other">
     <h1>Our Team</h1>
     <div class="col-10">
     <div class="img">
       <a><img src="../static/img/IMG_20160512_232726.jpg" alt="Fjords" width="150" height="150" style="zoom:100%"></a>
       <div class="desc">Aniket Prakash</div>
     </div>
     <div class="img">
       <a><img src="../static/img/FB_IMG_1472493560572.jpg" alt="Fjords" width="150" height="150"></a>
       <div class="desc">Abhinav Prakash</div>
     </div>
       <div class="img">
       <a><img src="" alt="Fjords" width="150" height="150"></a>
       <div class="desc">Abhinav Prakash</div>
      </div>
         <div class="img">
       <a><img src="" alt="Fjords" width="150" height="150"></a>
       <div class="desc">Abhinav Prakash</div>
      </div>
         <div class="img">
       <a><img src="" alt="Fjords" width="150" height="150"></a>
       <div class="desc">Abhinav Prakash</div>
      </div>
         <div class="img">
       <a><img src="" alt="Fjords" width="150" height="150"></a>
       <div class="desc">Abhinav Prakash</div>
      </div>
          <div class="img">
       <a><img src="" alt="Fjords" width="150" height="150"></a>
       <div class="desc">Abhinav Prakash</div>
      </div>
     </div>
     </div>