<style>
h2 {
	color: #FFF;
	font-size: 80px;
}
.logo img{width:300px;
height:100px;
margin-left:-70px;
}
body {
	background-color: #543d95;
}
h3 {
	font-size:80px;
	color:#FFF;}
h4 {
	font-size:50px;
	color:#FFF}
</style>
 <div class="col-12 col-m-12 container-other">
<div class="logo">
<h1>
<img src="../static/img/Untitled-1.png">
<img src="../static/img/logo2.png">
</h1>
</div>
<center>
<div class="col-10">
<h2>Hey,<br> Welcome To DreamsTrack</h2>
</div>
<div class="col-10">
<h3>We Will Keep You Posted For Further Updates.<br>For Any Query You Can Reply Here Or Contact<br>Anit Nilay(8861876326)</h3>
</div>
</center>
<h4>Regards,<br/>CTO,<br />DreamsTrack</h4>